<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">
  <app-sidebar></app-sidebar>
  <app-loading [isLoading]="loading"></app-loading>
  <div id="page-content-wrapper">
    <div class="container-fluid div-ventas">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="button-toggle">
            <a (click)="menuToggle()"><em class="fas fa-bars"></em></a>
          </div>
          <button (click)="regresar()" class="btn btn-optima btn-sm" style="margin-right: 10px; display: inline; margin-top: -7px">
            <em class="fas fa-chevron-left"></em>
          </button>
          <h3 style="display: inline">Cliente {{ cliente.nombres + ' ' + cliente.apellidos | formatUppercase }}</h3>
        </div>
        <div class="col-sm-12 col-md-7 text-right"></div>
      </div>

      <div class="row mt-2">
        <div class="col-12">
          <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0" style="font-size: 12px">
            <div *ngFor="let error of errors"><strong>Error:</strong> {{ error }}<br /></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12">
          <ul class="nav nav-tabs nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="home-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="true">Datos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile" aria-selected="false"
                >Inmueble</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="contact" aria-selected="false"
                >Modo de pago</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="contact" aria-selected="false"
                >Status de venta</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="home-tab">
              <br />

              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="col-sm-12 col-md-12 offset-md-12">
                        <p class="titulo"><strong>Datos personales</strong></p>

                        <p class="label-dato">Nombres</p>
                        <p>{{ cliente.nombres | formatUppercase }}</p>

                        <p class="label-dato">Apellidos</p>
                        <p>{{ cliente.apellidos | formatUppercase }}</p>

                        <p class="label-dato">Tipo doc.</p>
                        <p>
                          {{ cliente.tipoDocumento ? cliente.tipoDocumento.nombre : '' }} -
                          {{ cliente.nroDocumento }}
                        </p>

                        <p class="label-dato">Estado civil</p>
                        <p>{{ cliente.estadoCivil ? cliente.estadoCivil.nombre : '' }}</p>

                        <p class="label-dato">Ocupación</p>
                        <p>{{ cliente.ocupacion }}</p>

                        <p class="label-dato">Nacimiento / Edad</p>
                        <p>{{ formatNacimientoEdad }}</p>

                        <p class="label-dato">Correo</p>
                        <p>{{ cliente.email }}</p>

                        <p class="label-dato">Teléfono</p>
                        <p>{{ cliente.telefono }}</p>

                        <p class="label-dato">Distrito</p>
                        <p>{{ cliente.distrito }}</p>

                        <p class="label-dato">Provincia</p>
                        <p>{{ cliente.provincia }}</p>

                        <p class="label-dato">Dirección</p>
                        <p>{{ cliente.direccion }}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="col-sm-12 col-md-12 offset-md-12">
                        <p class="titulo"><strong>Datos conyuge</strong></p>

                        <p class="label-dato">Nombres y Apellidos</p>
                        <p>{{ cliente.conyuge ? cliente.conyuge : ('' | formatUppercase) }}</p>

                        <!-- <p class="label-dato">Apellidos</p>
                        <p>Armendariz Arturiaz</p> -->

                        <p class="label-dato">Tipo doc.</p>
                        <p>
                          {{ cliente.tipoDocumentoConyuge ? cliente.tipoDocumentoConyuge.nombre : '' }}
                          - {{ cliente.nroDocConyuge }}
                        </p>

                        <p class="label-dato">Estado civil</p>
                        <p>
                          {{ cliente.estadoCivilConyuge ? cliente.estadoCivilConyuge.nombre : '' }}
                        </p>

                        <p class="label-dato">Ocupación</p>
                        <p>{{ cliente.ocupacionConyuge }}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="col-sm-12 col-md-12 offset-md-12">
                        <p class="titulo"><strong>Compra</strong></p>

                        <p class="label-dato">Ingresos</p>
                        <p>{{ cliente.ingresos | formatSoles }}</p>

                        <p class="label-dato">Motivo de compra</p>
                        <p>{{ venta.motivo ? venta.motivo.nombre : '' }}</p>

                        <p class="label-dato">Canal captación</p>
                        <p>{{ venta.canal ? venta.canal.nombre : '' }}</p>

                        <p class="label-dato">Categoria</p>
                        <p>{{ venta.categoria ? venta.categoria.nombre : '' }}</p>

                        <p class="label-dato">Asesor de ventas</p>
                        <p>{{ cliente.asesor }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-body">
                      <div class="col-sm-12 col-md-12 offset-md-12">
                        <p class="titulo"><strong>Vendedor</strong></p>

                        <p class="label-dato">Nombre completo</p>
                        <p>{{ venta.vendedor ? venta.vendedor.nombre : '' }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">
              <br />

              <!-- <div class="row">
                <div class="col-sm-12 col-md-4" style="max-width: 350px">
                  <label>Tipo de inmueble:</label>
                  <select
                    [(ngModel)]="filterTipoInmuebleSelect"
                    class="form-control"
                    id="iptTipoInmueble"
                  >
                    <option [ngValue]="0">-- Seleccionar --</option>
                    <option *ngFor="let o of optionsTipoInmueble" [ngValue]="o.idTipoInmueble">
                      {{ o.nombre }}
                    </option>
                  </select>
                </div>
              </div> -->

              <div class="row">
                <div class="col-sm-12 col-md-12 overflow-auto">
                  <table mat-table class="tbinm" [dataSource]="inmuebleLista" style="width: 100%; margin-top: 20px">
                    <ng-container matColumnDef="editar">
                      <th mat-header-cell *matHeaderCellDef>Editar</th>
                      <td mat-cell *matCellDef="let elem">
                        <a href="#" data-toggle="dropdown" style="margin-left: 20px; color: #ee6f2e">
                          <em class="fas fa-ellipsis-v"></em>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left">
                          <button class="dropdown-item" type="button" [routerLink]="['/inmueble-nuevo-editar', elem.inmueble.idInmueble]">
                            <em class="far fa-edit"></em> Editar
                          </button>
                          <button
                            class="dropdown-item"
                            type="button"
                            data-toggle="modal"
                            data-target="#modal-eliminar-inmueble"
                            (click)="setObjetoInmuebleDelete(elem.inmueble)"
                          >
                            <em class="far fa-trash-alt"></em> Eliminar
                          </button>
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="idTipoInmueble">
                      <th mat-header-cell *matHeaderCellDef>Tipo</th>
                      <td mat-cell *matCellDef="let elem">
                        {{ elem.inmueble.tipoInmueble.nombre }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="idTipoInmuebleCategoria">
                      <th mat-header-cell *matHeaderCellDef>Categ.</th>
                      <td mat-cell *matCellDef="let elem">
                        {{ elem.inmueble.tipoInmuebleCategoria.nombre }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="numero">
                      <th mat-header-cell *matHeaderCellDef>Nro.</th>
                      <td mat-cell *matCellDef="let elem">{{ elem.inmueble.numero }}</td>
                    </ng-container>

                    <ng-container matColumnDef="areaTechada">
                      <th mat-header-cell *matHeaderCellDef>A. Techada</th>
                      <td mat-cell *matCellDef="let elem">{{ elem.inmueble.areaTechada }}</td>
                    </ng-container>

                    <ng-container matColumnDef="areaLibre">
                      <th mat-header-cell *matHeaderCellDef>A. Libre</th>
                      <td mat-cell *matCellDef="let elem">{{ elem.inmueble.areaLibre }}</td>
                    </ng-container>

                    <ng-container matColumnDef="areaTotal">
                      <th mat-header-cell *matHeaderCellDef>A. Total</th>
                      <td mat-cell *matCellDef="let elem">{{ elem.inmueble.areaTotal }}</td>
                    </ng-container>

                    <ng-container matColumnDef="idTipoVista">
                      <th mat-header-cell *matHeaderCellDef>Vista</th>
                      <td mat-cell *matCellDef="let elem">{{ elem.inmueble.tipoVista.nombre }}</td>
                    </ng-container>

                    <ng-container matColumnDef="cantidadDormitorio">
                      <th mat-header-cell *matHeaderCellDef>Dorm.</th>
                      <td mat-cell *matCellDef="let elem">
                        {{ elem.inmueble.cantidadDormitorio }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="precio">
                      <th mat-header-cell *matHeaderCellDef style="text-align: end">Precio</th>
                      <td mat-cell *matCellDef="let elem" style="text-align: end; color: var(--primary); font-weight: bold">
                        {{ elem.inmueble.precio | formatSoles }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="col-sm-12 col-md-4"></tr>
                  </table>
                  <div *ngIf="inmuebleLista.data.length === 0" style="width: 100%; text-align: center; margin-top: 15px">-- No hay resultados --</div>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12 pr-4" style="text-align: end">
                  <p class="titulo"><strong>Precio final</strong></p>
                  <p style="color: var(--primary); font-weight: bold">
                    {{ sumaTotalInmuebles | formatSoles }}
                  </p>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="contact-tab">
              <br />

              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p class="titulo"><strong>Pago</strong></p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Cuota inicial</p>
                          <p>{{ financiamiento.porcCuotaInicial }} %</p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Cuota inicial</p>
                          <p>{{ computedMontoInicial | formatSoles }}</p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Financiamiento</p>
                          <p>{{ financiamiento.montoFinanciado | formatSoles }}</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p class="titulo"><strong>Tipo de crédito</strong></p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Tipo de crédito</p>
                          <p>Ahorro MMV</p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Bono MMV</p>
                          <p>0</p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">AFP</p>
                          <p>S/. 32,324.00</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-8">
                          <p class="label-dato">Banco</p>
                          <p>BCP - Banco de Crédito del Perú</p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Asesor Banco</p>
                          <p>Jorge Zed</p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <p class="titulo"><strong>Caracteristicas del ahorro</strong></p>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Ahorro</p>
                          <p>S/. 2,500.00</p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Inicio ahorro</p>
                          <p>08/02/20</p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                          <p class="label-dato">Fin de ahorro</p>
                          <p>08/02/20</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade show active" id="tab4" role="tabpanel" aria-labelledby="contact-tab">
              <br />

              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <h4><strong>Fecha</strong></h4>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <datepicker-rounded
                    #dpFSeparacion
                    [label]="'Fecha de separación'"
                    (onDateChanged)="onFechaSeparacionChanged($event)"
                  ></datepicker-rounded>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group" style="position: relative">
                        <input
                          type="file"
                          (change)="uploadFileFechas($event, FILES_TYPES_NAMES.SEPARACION)"
                          class="form-control custom-file-input"
                          id="validatedFechaSep"
                        />
                        <label class="custom-file-label" for="validatedFechaSep">Seleccionar...</label>
                        <div class="invalid-feedback">Archivo inválido</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                  <datepicker-rounded #dpFMinuta [label]="'Fecha de minuta'" (onDateChanged)="onFechaMinutaChanged($event)"></datepicker-rounded>
                  <div class="row">
                    <div class="col-xl-2"></div>
                    <div class="col-xl-10">
                      <div class="custom-file">
                        <input type="file" (change)="pdfMinuta($event)" class="custom-file-input" id="validatedCustomFile" required />
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                  <datepicker-rounded
                    #dpFDesembolso
                    [label]="'Fecha de desembolso'"
                    (onDateChanged)="onFechaDesembolsoChanged($event)"
                  ></datepicker-rounded>
                  <div class="row">
                    <div class="col-xl-5"></div>
                    <div class="col-xl-7">
                      <div class="custom-file">
                        <input type="file" (change)="pdfDeseembolso($event)" class="custom-file-input" id="validatedCustomFile" required />
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                  <datepicker-rounded #dpFEEP [label]="'Fecha de EEP'" (onDateChanged)="onFechaEEPChanged($event)"></datepicker-rounded>
                  <div class="row">
                    <div class="col-xl-2"></div>
                    <div class="col-xl-10">
                      <div class="custom-file">
                        <input type="file" (change)="pdfEep($event)" class="custom-file-input" id="validatedCustomFile" required />
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                  <datepicker-rounded #dpFCaida [label]="'Fecha de caída'" (onDateChanged)="onFechaCaidaChanged($event)"></datepicker-rounded>
                </div>
              </div>

              <br />
              <div class="row">
                <div class="col-sm-8 col-md-8">
                  <h5 style="color: var(--primary)">
                    Status actual:
                    {{ computedNombreStatusActual }}
                  </h5>
                </div>

                <div class="col-sm-4 col-md-4" style="text-align: end">
                  <button type="button" class="btn btn-optima" (click)="actualizarVenta()" style="text-decoration: none">Guardar</button>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label for="nombres">Cambiar estado</label>
                    <select [(ngModel)]="idEstadoVentaSelect" class="form-control" id="iptTipoEstadoVenta">
                      <option *ngFor="let o of optionsTiposEstadoVenta" [ngValue]="o.idEstadoVenta">
                        {{ o.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
                  <div class="form-group">
                    <label for="nombres">Porcentaje</label><br />
                    {{ porcentajePagado }}
                  </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5">
                  <ol class="stw">
                    <li
                      [ngClass]="{
                        current: timelimeActive === 'Inicio'
                      }"
                    >
                      <div class="stw-label">Inicio</div>
                    </li>
                    <li
                      [ngClass]="{
                        current: timelimeActive === 'Separacion'
                      }"
                    >
                      <div class="stw-label">Separación</div>
                    </li>
                    <li
                      [ngClass]="{
                        current: timelimeActive === 'Minuta'
                      }"
                    >
                      <div class="stw-label">Minuta</div>
                    </li>
                    <li
                      [ngClass]="{
                        current: timelimeActive === 'Desembolso'
                      }"
                    >
                      <div class="stw-label">Desembolso</div>
                    </li>
                    <li
                      [ngClass]="{
                        current: timelimeActive === 'EEP'
                      }"
                    >
                      <div class="stw-label">EEPP</div>
                    </li>
                  </ol>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <h3>Pagos</h3>
                </div>
                <div class="col-sm-12 col-md-7 text-right">
                  <a id="#btnAgregarPago" (click)="abrirModalAgregarPago()" data-toggle="modal" data-target="#modal-gestion-pago"
                    ><span class="font-add">Agregar<em class="fas fa-plus-circle"></em></span
                  ></a>
                  <!-- <a href="/cliente-nuevo-editar/0"
                    ><span class="font-add">Agregar <em class="fas fa-plus-circle"></em></span
                  ></a> -->
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <table mat-table [dataSource]="pagos" class="tbproy" style="width: 100%; margin-top: 20px">
                    <ng-container matColumnDef="editar">
                      <th mat-header-cell *matHeaderCellDef style="max-width: 150px">Editar</th>
                      <td mat-cell *matCellDef="let element">
                        <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
                        <div class="dropdown-menu dropdown-menu-left">
                          <button
                            class="dropdown-item"
                            type="button"
                            data-toggle="modal"
                            data-target="#modal-gestion-pago"
                            (click)="setObjetoPagoEdit(element)"
                          >
                            <em class="far fa-edit"></em> Editar
                          </button>
                          <button
                            class="dropdown-item"
                            type="button"
                            data-toggle="modal"
                            data-target="#modal-eliminar-pago"
                            (click)="setObjetoPagoDelete(element)"
                          >
                            <em class="far fa-trash-alt"></em> Eliminar
                          </button>
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="numeroOperacion">
                      <th mat-header-cell *matHeaderCellDef>Nº Recibo</th>
                      <td mat-cell *matCellDef="let element">{{ element.numeroOperacion }}</td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef>Fecha</th>
                      <td mat-cell *matCellDef="let element">{{ element.fecha | formatDate }}</td>
                    </ng-container>

                    <ng-container matColumnDef="monto">
                      <th mat-header-cell *matHeaderCellDef style="text-align: end">Monto</th>
                      <td mat-cell *matCellDef="let element" style="text-align: end">
                        {{ element.monto | formatSoles }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="fieldsTblPagos"></tr>
                    <tr mat-row *matRowDef="let row; columns: fieldsTblPagos" class="col-sm-12 col-md-4"></tr>
                  </table>
                  <div *ngIf="pagos.data.length === 0" style="width: 100%; text-align: center; margin-top: 15px">-- No hay resultados --</div>

                  <!-- <mat-paginator
                    [length]="totalData"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    showFirstLastButtons
                    class="ptproy"
                  ></mat-paginator> -->
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="col-sm-12 col-md-2 offset-md-10">
                        <p><strong>Total</strong></p>
                        <p class="label-dato">
                          <strong>{{ sumaTotalPagos | formatSoles }}</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />
    </div>
  </div>
</div>

<div id="modal-gestion-pago" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar pago</h5>
        <button id="btnPagoClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-top: 0px">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-warning" role="alert" *ngIf="modalPagoWarnings.length > 0" style="font-size: 12px">
              <div *ngFor="let modalPagoWarning of modalPagoWarnings"><strong>Advertencia:</strong> {{ modalPagoWarning }}<br /></div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="modalPagoErrores.length > 0" style="font-size: 12px">
              <div *ngFor="let modalPagoError of modalPagoErrores"><strong>Error:</strong> {{ modalPagoError }}<br /></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            Nro. Operación<br />
            <input maxlength="20" [(ngModel)]="pagoModal.numeroOperacion" matInput class="form-control" placeholder="Nro de recibo" />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            Fecha<br />
            <input type="date" [(ngModel)]="pagoModal.fecha" class="form-control" />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            Monto<br />
            <input
              [(ngModel)]="pagoModal.monto"
              matInput
              mask="separator.2"
              thousandSeparator=","
              class="form-control"
              placeholder="Monto"
              style="width: 100%"
            />
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-12">
            Voucher (Opcional)<br />
            <div style="font-size: 0.75rem">Máximo 1 archivo</div>
            <div class="form-group" style="position: relative">
              <input type="file" (change)="uploadFilePago($event)" class="custom-file-input form-control" id="validatedCustomFile" />
              <label class="custom-file-label" for="validatedCustomFile">Seleccionar voucher...</label>
              <div class="invalid-feedback">Archivo inválido</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group" *ngIf="pagoModal !== null && pagoModal.fileRuta !== null">
              Archivo Subido:<br />
              <div (click)="descargarArchivoPago(pagoModal.fileRuta)" style="cursor: pointer; width: max-content; color: var(--primary)">
                <em class="fa fa-download"></em> Descargar
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-12" style="text-align: center">
            <button type="button" (click)="btnPagoGuardar()" class="btn btn-optima" style="text-decoration: none">Agregar</button>
          </div>
        </div>
      </div>

      <!-- <ng-template #attachPayment>
        <div class="modal-body" style="padding-top: 0px">
          <div class="row">
            <div class="col-12">
              <div style="text-align: center; color: var(--primary)">Pago agregado correctamente!</div>

              <div style="margin-top: 10px; font-size: 0.75rem; text-align: center">
                Tiene la posibilidad de agregar un voucher o cerrar la ventana
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-12">
              <div class="form-group" style="position: relative">
                <input type="file" (change)="uploadFilePago($event)" class="form-control custom-file-input" id="validatedCustomFile" />
                <label class="custom-file-label" for="validatedCustomFile">Seleccionar voucher...</label>
                <div class="invalid-feedback">Archivo inválido</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="text-align: center">
              <button type="button" class="btn btn-optima" style="text-decoration: none" (click)="TerminarPagoModal()">Terminar</button>
            </div>
          </div>
        </div>
      </ng-template> -->
    </div>
  </div>
</div>

<div id="modal-eliminar-pago" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que deseas eliminar el siguiente pago?</p>
        <p>
          Nro. Recibo: <b>{{ pagoToDelete.numeroOperacion }}</b
          ><br />
          Monto: <b>{{ pagoToDelete.monto }}</b
          ><br />
          Fecha: <b>{{ pagoToDelete.fecha | formatDate }}</b>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-optima" (click)="eliminarPagoSeleccionado()">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalEliminarPago">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div id="modal-eliminar-inmueble" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar inmueble</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que deseas eliminar el siguiente inmueble?</p>
        <p>
          Nro.: <strong>{{ inmuebleToDelete.numero }}</strong>
        </p>
        <p>
          Precio: <strong>{{ inmuebleToDelete.precio | formatSoles }}</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-optima" (click)="eliminarInmuebleSeleccionado()">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalEliminarInmueble">Cancelar</button>
      </div>
    </div>
  </div>
</div>
