<div class="row">
  <div class="col-sm-12 col-md-5">
    <div class="form-group">
      <label for="nombres2">Buscar periodo</label>
      <input type="text" class="form-control" id="nombres2" />
    </div>
  </div>
  <div class="col-sm-12 col-md-5">
    <div class="form-group">
      <label for="apellidos3">Ingresar metas</label>
      <input type="text" class="form-control" id="apellidos3" />
    </div>
  </div>
  <div class="col-sm-12 col-md-2">
    <div class="form-group">
      <label class="label-hidden">&nbsp;</label>
      <button type="submit" class="btn btn-optima btn-float-right">
        <em class="fas fa-plus"></em>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <table class="table">
      <caption>
        Lista de periodos
      </caption>
      <thead>
        <tr>
          <th scope="col" class="text-center">Editar</th>
          <th scope="col">Periodo</th>
          <th scope="col">Meta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center font-color-1">
            <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
            <div class="dropdown-menu dropdown-menu-left">
              <button class="dropdown-item" type="button">
                <em class="far fa-edit"></em> Editar
              </button>
              <button class="dropdown-item" type="button">
                <em class="far fa-trash-alt"></em> Eliminar
              </button>
            </div>
          </td>
          <td>Enero 2020</td>
          <td>S/. 250,345.00</td>
        </tr>
        <tr>
          <td class="text-center font-color-1">
            <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
            <div class="dropdown-menu dropdown-menu-left">
              <button class="dropdown-item" type="button">
                <em class="far fa-edit"></em> Editar
              </button>
              <button class="dropdown-item" type="button">
                <em class="far fa-trash-alt"></em> Eliminar
              </button>
            </div>
          </td>
          <td>Enero 2020</td>
          <td>S/. 250,345.00</td>
        </tr>
        <tr>
          <td class="text-center font-color-1">
            <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
            <div class="dropdown-menu dropdown-menu-left">
              <button class="dropdown-item" type="button">
                <em class="far fa-edit"></em> Editar
              </button>
              <button class="dropdown-item" type="button">
                <em class="far fa-trash-alt"></em> Eliminar
              </button>
            </div>
          </td>
          <td>Enero 2020</td>
          <td>S/. 250,345.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
