<nav class="navbar-main navbar navbar-expand" *ngIf="authService.isAuthenticated()">

    <a class="navbar-brand my-2" href="#"><img src="assets/img/logo_optima.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav navbar-right d-flex">
            <li class="login-data">
                <h5>{{ authService.usuario.userName }}</h5>
                <h6>{{ authService.usuario.userName }}</h6>
            </li>
            <li>
                <div class="logo-user">{{authService.usuario.userName.substring(0,1).toUpperCase()}}</div>
            </li>
        </ul>
    </div>

</nav>