<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3>Nuevo / Editar Colaborador</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-8">

                    <br>

                    <form>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="nombres">Nombres</label>
                                    <input type="text" class="form-control" id="nombres" name="nombres" [(ngModel)]="colaborador.nombres">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="apellidos">Apellidos</label>
                                    <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="colaborador.apellidos">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="nombres">Tipo de documento</label>
                                    <select class="form-control" id="tipoDoc"  name="idtipodocumento" [(ngModel)]="colaborador.idTipoDocumento">
                                        <option value="1">DNI</option>
                                        <option value="2">Carnet extranjeria</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="apellidos">Nro. doc.</label>
                                    <input type="text" class="form-control" id="nroDocumentos" name="numeroDocumento"  [(ngModel)]="colaborador.numeroDocumento">
                                </div>
                            </div>
                        </div>

                        <!--
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="nombres">Teléfono</label>
                                    <input type="number" class="form-control" id="telefono" name="telefono"   [(ngModel)]="colaborador.telefono">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" class="form-control" id="direccion" name="direccion"  [(ngModel)]="colaborador.direccion">
                                </div>
                            </div>
-->
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="nombres">Sexo</label>
                                    <select class="form-control" id="sexo" name="sexo"  [(ngModel)]="colaborador.sexo">
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenino</option>
                                    </select>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-float-right" (click)="regresar()">Cancelar</button>
                        <button type="submit" class="btn btn-optima btn-float-right" (click)="agregarColaborador()">Registrar</button>
                      </div>
                    </form>

                </div>
            </div>


        </div>
    </div>

</div>
