<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid div-ventas">

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3>Proyectos</h3>
                </div>
                <div class="col-sm-12 col-md-7 text-right">
                    <button type="button" class="btn btn-outline-optima btn-margin"><em class="far fa-file-excel"></em> Ver inmuebles</button>
                    <a href="/colaboradores-nuevo-editar/0"><span class="font-add">Agregar <em class="fas fa-plus-circle"></em></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4">

                    <div class="card">
                        <div class="card-body">
                            <p><strong>Proyecto 1</strong></p>
                            <p>534252</p>
                            <div class="btn-float-right">
                                <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
                                <div class="dropdown-menu dropdown-menu-left">
                                    <button class="dropdown-item" type="button" [routerLink]="['/cliente-nuevo-editar', cliente.codigo]"><em class="far fa-edit"></em> Editar</button>
                                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modal-eliminar-cliente"><em class="far fa-trash-alt"></em> Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br>

        </div>
    </div>

</div>