<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <app-loading ></app-loading>

    <div id="page-content-wrapper">
        <div class="container-fluid div-ventas">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3>Consulta Ventas</h3>
                </div>
                <div class="col-sm-12 col-md-7 text-right">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4" *ngFor="let proyecto of proyectoLista">
                    <div class="card">
                        <div class="card-body">
                            <a [href]="'consulta-ventas-detalle/'+ proyecto.idProyecto + '/1/' + fechaDesde + '/' + fechaHasta">{{proyecto.nombre}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <paginator [paginador]="paginador" [base]="base"></paginator>
        </div>
    </div>

</div>