<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3>Estado de financiamiento</h3>
                </div>
                <div class="col-sm-12 col-md-7 text-right">
                    <a [routerLink]="['/estadofinanciamiento-nuevo-editar', 0]"><span class="font-add">Agregar <em class="fas fa-plus-circle"></em></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 overflow-auto">

                    <div class="card-body">
                        <div class="alert alert-info my-2" *ngIf="estadofinanciamientoLista?.length==0">No hay estados de financiamiento registrados</div>
                        <div class="table-responsive" *ngIf="estadofinanciamientoLista?.length>0">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Editar</th>
                                        <th scope="col">Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let estadofinanciamiento of estadofinanciamientoLista">
                                        <td class="text-center font-color-1">
                                            <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <button class="dropdown-item" type="button" [routerLink]="['/estadofinanciamiento-nuevo-editar', estadofinanciamiento.idEstadoFinanciamiento]"><em class="far fa-edit"></em> Editar</button>
                                                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modal-eliminar" (click)='obtenerSeleccionado(estadofinanciamiento)'><em class="far fa-trash-alt"></em> Eliminar</button>
                                            </div>
                                        </td>
                                        <td>{{estadofinanciamiento.nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div id="modal-eliminar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Eliminar registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Seguro que deseas eliminar el registro?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-optima" (click)='eliminar(registroSeleccionado)'>Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalEliminar">Cancelar</button>
        </div>
        </div>
    </div>
</div>
