<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">
  <app-sidebar></app-sidebar>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-sm-12 col-md-5">
          <div class="button-toggle">
            <a (click)="menuToggle()"><em class="fas fa-bars"></em></a>
          </div>
          <h3>Datos de inmuebles</h3>
        </div> -->
        <div class="col-sm-12 col-md-5">
          <!-- <div class="button-toggle">
            <a (click)="menuToggle()"><em class="fas fa-bars"></em></a>
          </div> -->
          <div style="display: flex; align-items: center">
            <button (click)="regresar()" class="btn btn-optima" style="margin-right: 10px">
              <em class="fas fa-chevron-left"></em>
            </button>
            <h3 style="display: inline-block; margin-bottom: 0px">Datos de inmuebles</h3>
          </div>
        </div>
        <div class="col-sm-12 col-md-7 text-right">
          <a (click)="goToAgregar()" style="cursor: pointer"
            ><span class="font-add">Agregar <em class="fas fa-plus-circle"></em></span
          ></a>
        </div>
      </div>

      <table
        mat-table
        class="tbinm"
        [dataSource]="inmuebleLista"
        style="width: 100%; margin-top: 20px"
      >
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let elem">
            <a href="#" data-toggle="dropdown" style="margin-left: 20px; color: #ee6f2e">
              <em class="fas fa-ellipsis-v"></em>
            </a>
            <div class="dropdown-menu dropdown-menu-left">
              <button
                class="dropdown-item"
                type="button"
                [routerLink]="['/inmueble-nuevo-editar', elem.idInmueble]"
              >
                <em class="far fa-edit"></em> Editar
              </button>
              <button
                class="dropdown-item"
                type="button"
                data-toggle="modal"
                data-target="#modal-eliminar-cliente"
                (click)='seleccionarInmueble(elem)'
              >
                <em class="far fa-trash-alt"></em> Eliminar
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="idTipoInmuebleCategoria">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let elem">{{ elem.tipoInmuebleCategoria.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef>Nro.</th>
          <td mat-cell *matCellDef="let elem">{{ elem.numero }}</td>
        </ng-container>

        <ng-container matColumnDef="areaTechada">
          <th mat-header-cell *matHeaderCellDef>A. Techada</th>
          <td mat-cell *matCellDef="let elem">{{ elem.areaTechada }}</td>
        </ng-container>

        <ng-container matColumnDef="areaLibre">
          <th mat-header-cell *matHeaderCellDef>A. Libre</th>
          <td mat-cell *matCellDef="let elem">{{ elem.areaLibre }}</td>
        </ng-container>

        <ng-container matColumnDef="areaTotal">
          <th mat-header-cell *matHeaderCellDef>A. Total</th>
          <td mat-cell *matCellDef="let elem">{{ elem.areaTotal }}</td>
        </ng-container>

        <ng-container matColumnDef="idTipoVista">
          <th mat-header-cell *matHeaderCellDef>Vista</th>
          <td mat-cell *matCellDef="let elem">{{ elem.tipoVista.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="enable">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let elem">
            <span *ngIf="elem.tipoVista.enable==1">Activo</span>
            <span *ngIf="elem.tipoVista.enable==0">Inactivo</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="cantidadDormitorio">
          <th mat-header-cell *matHeaderCellDef>Dorm.</th>
          <td mat-cell *matCellDef="let elem">{{ elem.cantidadDormitorio }}</td>
        </ng-container>


        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef style="text-align: end">Precio</th>
          <td
            mat-cell
            *matCellDef="let elem"
            style="text-align: end; color: var(--primary); font-weight: bold"
          >
            {{ elem.precio | formatSoles }}
          </td>
        </ng-container>

        <ng-container matColumnDef="moneda">
          <th mat-header-cell *matHeaderCellDef>Moneda</th>
          <td mat-cell *matCellDef="let elem">{{ elem.moneda }}</td>
        </ng-container>


 <ng-container matColumnDef="tipoCambio">
          <th mat-header-cell *matHeaderCellDef>Tipo Cambio</th>
          <td mat-cell *matCellDef="let elem">{{
            elem.tipoCambio  }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="col-sm-12 col-md-4"></tr>
      </table>
      <div
        *ngIf="inmuebleLista.data.length === 0"
        style="width: 100%; text-align: center; margin-top: 15px"
      >
        -- No hay resultados --
      </div>
    </div>
  </div>
</div>


<div id="modal-eliminar-cliente" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar inmueble</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que deseas eliminar el registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-optima" (click)='eliminarInmueble()'>Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModalEliminar">Cancelar</button>
      </div>
    </div>
  </div>
</div>
