<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3>Nuevo / Editar cliente</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <br>

                    <form>

                        <div class="row">

                            <div class="col-sm-12 col-md-3">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="nav-number">1</span> Datos personales</a>
                                    <span class="separator"></span>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="nav-number">2</span> Co propietarios Conyugue</a>
                                    <span class="separator"></span>
                                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span class="nav-number">3</span> Datos laborales</a>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="nombres">Nombres</label>
                                                    <input type="text" [(ngModel)]="cliente.nombres" class="form-control" name="nombres">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="apellidos">Apellidos</label>
                                                    <input type="text" [(ngModel)]="cliente.apellidos" class="form-control" name="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="tipo-documento">Tipo de documento</label>
                                                    <select class="form-control" [(ngModel)]="cliente.idTipoDocumento" name="tipo-documento">
                                                        <option value="1">DNI</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="nro-doc-documento">Nro. doc.</label>
                                                    <input type="text" [(ngModel)]="cliente.nroDocumento" class="form-control" name="nro-documento">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="estado-civil">Estado civil</label>
                                                    <select class="form-control" [(ngModel)]="cliente.idEstadoCivil" name="estado-civil">
                                                        <option value="1">SOLTERO</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="ocupacio">Ocupación</label>
                                                    <input type="text" [(ngModel)]="cliente.ocupacion" class="form-control" name="ocupacion">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="fecha-nacimiento">Fecha de nacimiento</label>
                                                    <input type="text" class="form-control" [(ngModel)]="cliente.fechaNacimiento" name="fecha-nacimiento">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="correo">Correo</label>
                                                    <input type="text" [(ngModel)]="cliente.email" class="form-control" name="correo">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="telefono">Teléfono</label>
                                                    <input type="text" [(ngModel)]="cliente.telefono" class="form-control" name="telefono">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="distrito">Distrito</label>
                                                    <input type="text" [(ngModel)]="cliente.distrito" class="form-control" name="distrito">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="provincia">Provincia</label>
                                                    <input type="text" [(ngModel)]="cliente.provincia" class="form-control" name="provincia">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="direccion">Dirección</label>
                                                    <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right">Siguiente</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="nombre-conyugue">Nombres</label>
                                                    <input type="text" class="form-control" [(ngModel)]="cliente.conyuge" name="nombre-conyugue">
                                                </div>
                                            </div>
                                            <!-- <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="apellidos-conyugue">Apellidos</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div> -->
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="tipo-documento-conyuge">Tipo de documento</label>
                                                    <select class="form-control" [(ngModel)]="cliente.tipoDocConyuge" name="tipo-documento">
                                                        <option value="1">DNI</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="nro-doc-documento-conyugue">Nro. doc.</label>
                                                    <input type="text" class="form-control" [(ngModel)]="cliente.nroDocConyuge" name="nro-doc-documento-conyugue">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="estado-civil-conyugue">Estado civil</label>
                                                    <select class="form-control" [(ngModel)]="cliente.idEstadoCivilConyuge" name="estado-civil">
                                                        <option value="1">SOLTERO</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="ocupacion-conyugue">Ocupación</label>
                                                    <input type="text" class="form-control" [(ngModel)]="cliente.ocupacionConyuge" name="ocupacion-conyugue">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right">Siguiente</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="lugar-trabajo">Lugar de trabajo</label>
                                                    <input type="text" [(ngModel)]="cliente.lugarTrabajo" class="form-control" name="lugar-trabajo">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="ingresos">Ingresos</label>
                                                    <input type="text" [(ngModel)]="cliente.ingresos" class="form-control" name="ingresos">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="motivo-compra">Motivo de compra</label>
                                                    <input type="text" [(ngModel)]="cliente.ingresos" class="form-control" id="nombres">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="canal-captacion">Canal de captación</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="row">
                                            <!-- <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="categoria">Categoria</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div> -->
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="asesor-venta">Asesor de ventas</label>
                                                    <input type="text" [(ngModel)]="cliente.asesor" class="form-control"  name="asesor">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right" (click)='agregarCliente()'>Guardar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
