<div id="sidebar-wrapper">
    <div class="list-group">
        <a href="clientes" class="list-group-item" [ngClass]="{'list-item-active': router.url === '/clientes' }">Clientes</a>
        <a href="ventas" class="list-group-item" [ngClass]="{'list-item-active': router.url === '/ventas' }">Ventas</a>
        <a href="consulta-ventas" class="list-group-item" [ngClass]="{'list-item-active': router.url === '/consulta-ventas' }">Consultas ventas</a>
        <a href="colaboradores" class="list-group-item" [ngClass]="{'list-item-active': router.url === '/colaboradores' }">Colaboradores</a>
        <a href="proyectos" class="list-group-item" [ngClass]="{'list-item-active': router.url === '/proyectos' }">Proyectos</a>
        <a href="gerencias" class="list-group-item">Gerencias</a>
        <a href="periodos" class="list-group-item">Periodos</a>

        <a href="#" class="list-group-item" data-toggle="collapse" href="#collapseExample">Reportes</a>
        <div class="collapse" id="collapseExample">
            <a href="reportes" class="list-group-item sub-item">Consolidado de ventas</a>
        </div>
        <a  href="#collapseEx" data-toggle="collapse" class="list-group-item" >Mantenimientos</a>
        <div class="collapse" id="collapseEx">
          <a href="bancos" class="list-group-item sub-item" >Bancos</a>
          <a href="canales" class="list-group-item sub-item"  >Canales</a>
          <a href="categoria" class="list-group-item sub-item"   >Categoria</a>
          <a href="EstadoFinanciero" class="list-group-item sub-item"   >EstadoFinanciero</a>
          <a href="EstadoVenta" class="list-group-item sub-item"   >EstadoVenta</a>
        </div>
        <br>
        <br>
        <a (click)="logOut()" href="#" class="list-group-item">Cerrar sesión</a>
    </div>
</div>
