<div id="sidebar-wrapper">
    <div class="list-group">
        <a href="clientes" class="list-group-item">Clientes</a>
        <a href="ventas" class="list-group-item">Ventas</a>
        <a href="#" class="list-group-item">Consultas ventas</a>
        <a href="colaboradores" class="list-group-item" [ngClass]="{'list-item-active': router.url === '/colaboradores' }">Colaboradores</a>
        <a href="#" class="list-group-item">Proyectos</a>
        <a href="#" class="list-group-item">Gerencias</a>
        <a href="#" class="list-group-item" data-toggle="collapse" href="#collapseExample">Reportes</a>
        <div class="collapse" id="collapseExample">
            <a href="#" class="list-group-item sub-item">Consolidado de ventas</a>
        </div>
        <br>
        <br>
        <a (click)="logOut()" href="#" class="list-group-item">Cerrar sesión</a>
    </div>
</div>