::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 22px !important;
  padding: 0.45em 0.75em 0 0.75em !important;
}

.mat-input-container.app-input-no-underline .mat-input-underline {
  display: none;
}

.sdp /deep/ .mat-form-field-underline {
  display: none;
}

.sdp /deep/ .mat-form-field-label {
  color: black !important;
  font-weight: 700;
}

::ng-deep .sdp.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: var(--primary) !important;
}

.sdp /deep/ .mat-select-value {
  color: black;
  font-size: 13px;
}

::ng-deep .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary) !important;
}
