<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid div-ventas">

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3>Proyectos</h3>
                </div>
                <div class="col-sm-12 col-md-7 text-right">
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                <table
                    mat-table
                    [dataSource]="proyectoLista"
                    class="tbproy"
                    style="width: 100%; margin-top: 20px">

                    <!-- Position Column -->
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef>Item Objecto<span class="hola">hola</span></th>
                      <td mat-cell *matCellDef="let elemproyecto">
                        <div
                          [ngClass]="{
                            'cardproy card': true,
                            'cardproy-selected': idProyectoSelected === elemproyecto.idProyecto
                          }"
                          (click)="selectItemProyecto(elemproyecto.idProyecto)"
                        >

                          <div class="card-body">
                            <div class="row item-proyecto">
                              <div class="col-sm-12 col-md-10">
                                <p>
                                  <a
                                    [routerLink]="['/ventas-proyecto', elemproyecto.idProyecto]"
                                    aria-expanded="false"
                                    ><strong>{{ elemproyecto.nombre }}</strong></a
                                  >
                                </p>
                                <p>{{ elemproyecto.direccion }}</p>
                              </div>
                            </div>
                          </div>

                        </div>

                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="col-sm-12 col-md-4"></tr>
                </table>

                <mat-paginator
                    (page)="onPageChange($event)"
                    [length]="totalData"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    showFirstLastButtons
                    class="ptproy">
                </mat-paginator>

                </div>
            </div>

            <br>

        </div>
    </div>

</div>