<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">


            <div class="row" >
                <div class="col-sm-12 col-md-5"  >
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>

                    <h3>{{ nombreProyecto }} </h3>

                </div>
                <div class="col-sm-12 col-md-7 text-right">
                    <a href="/ventas-proyecto-nuevo-editar/{{paramIdProyecto}}"><span class="font-add">Agregar <em class="fas fa-plus-circle"></em></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4 col-xl-3">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" name="statusventa"  id="exampleFormControlSelect1">
                            <option [value]="items.idEstadoVenta" *ngFor="let items of tipoestado">{{items.nombre}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-xl-2">
                    <div class="form-group">
                        <datepicker-rounded
                        #dpfechaDesde
                        [label]="'Fecha'"
                        (onDateChanged)="onfechaDesde($event)"
                        ></datepicker-rounded>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-xl-2">
                    <div class="form-group">
                        <datepicker-rounded
                        #dpfechaHasta
                        [label]="'Fecha'"
                        (onDateChanged)="onfechaHasta($event)"
                        ></datepicker-rounded>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 overflow-auto">

                    <br>

                    <table class="table">
                        <caption>Lista de ventas por proyecto</caption>
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Editar</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Nº doc.</th>

                                <th scope="col">Separación</th>
                                <th scope="col">Minuta</th>
                                <th scope="col">Desembolso</th>
                                <th scope="col">EEPP</th>
                                <th scope="col">Caida</th>

                                <th scope="col">Total de venta</th>
                                <th scope="col">Financiamiento</th>
                                <th scope="col">Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ventasProyecto of ventasLista">
                                <td class="text-center font-color-1">
                                    <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <button class="dropdown-item" type="button" [routerLink]="['/cliente-nuevo-editar', ventasProyecto.cliente.idCliente]"><em class="far fa-edit"></em> Editar</button>
                                    </div>
                                </td>

                                <td><a href="ventas-consulta-cliente-detalle/{{ventasProyecto.idVenta}}">{{ventasProyecto.cliente.nombres}}</a></td>
                                <td><a href="ventas-consulta-cliente-detalle/{{ventasProyecto.idVenta}}">{{ventasProyecto.cliente.apellidos}}</a></td>
                                <td>{{ventasProyecto.cliente.nroDocumento}}</td>
<!--
                                <td value="" class="">{{ ventasProyecto.fechaSeparacion | formatDate}}</td>
                                <td class="">{{ ventasProyecto.fechaMinuta | formatDate }}</td>
                                <td class="">{{ ventasProyecto.fechaDesembolso | formatDate}} </td>
                                <td class="">{{ ventasProyecto.fechaEpp | formatDate }}</td>
                                <td class="">{{ ventasProyecto.fechaCaida | formatDate }}</td>
-->


                                <td class="">{{ ventasProyecto.total | formatSoles }}</td>
                                <td class="">{{ ventasProyecto.financiamiento.financiamiento | formatSoles}}</td>
                                <td class="">{{ ventasProyecto.estadoVenta.nombre }}</td>


                            </tr>
                        </tbody>
                    </table>

                </div>
                <paginator2 [paginador]="paginador" [base]="base" [id]="id"></paginator2>

            </div>

            <br>



        </div>
    </div>


</div>


<div id="modal-eliminar-colaborador" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Eliminar colaborador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Seguro que deseas eliminar el registro?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-optima">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
    </div>
</div>
