<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">
  <app-sidebar></app-sidebar>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <!-- <div class="button-toggle">
            <a (click)="menuToggle()"><em class="fas fa-bars"></em></a>
          </div> -->
          <div style="display: flex; align-items: center">
            <h3 style="display: inline-block; margin-bottom: 0px">
              {{ editMode ? 'Editar' : 'Agregar' }} proyecto
            </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <br />

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="iptCodigo">Código</label>
                    <input
                      type="text"
                      class="form-control"
                      id="iptCodigo"
                      [(ngModel)]="frmCodigo"
                    />
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="iptNombre">Nombre del proyecto</label>
                    <input
                      type="text"
                      class="form-control"
                      id="iptNombre"
                      [(ngModel)]="frmNombrepro"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="form-group">
                    <label for="iptDireccion">Dirección</label>
                    <input
                      type="text"
                      class="form-control"
                      id="iptDireccion"
                      [(ngModel)]="frmDireccion"
                    />
                  </div>
                </div>
              </div>

              <!-- <app-periodos-proyectos *ngIf="editMode"></app-periodos-proyectos> -->

              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="form-group">
                    <label for="periodoseleccionado">Buscar periodo</label>
                    <ng-autocomplete
                    [data]="dataBuscarPeriodo"
                    [searchKeyword]="kwBuscar"
                    (selected)="seleccionarItemBusquedaPeriodo($event)"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="noFound"
                >
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.nombre"></a>
                </ng-template>
                <ng-template #noFound let-notFound>
                    <div style="color: #c1c1c1">-- no encontrado --</div>
                </ng-template>
                  </div>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="form-group">
                    <label for="apellidos3">Ingresar metas</label>
                    <input type="text" class="form-control"name="meta" [(ngModel)]="metaSeleccionada"/>
                  </div>
                </div>
                <div class="col-sm-12 col-md-2">
                  <div class="form-group">
                    <label class="label-hidden">&nbsp;</label>
                    <button type="submit" (click) = "agregarPeriodoProyecto()" class="btn btn-optima btn-float-right">
                      <em class="fas fa-plus"></em>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <table class="table">
                    <caption>Lista de periodos</caption>
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Editar</th>
                            <th scope="col">Periodo</th>
                            <th scope="col">Meta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemPeriodo of aryPeriodos; index as i">
                            <td class="text-center font-color-1">
                                <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
                                <div class="dropdown-menu dropdown-menu-left">
                                    <button class="dropdown-item" type="button" (click)="eliminarMeta(i)"><em class="far fa-trash-alt"></em> Eliminar</button>
                                </div>
                            </td>
                            <td>{{itemPeriodo.nombre}}</td>
                            <td><input type="number" class="form-control" name="metamonto{{i}}" [(ngModel)]="itemPeriodo.monto" value="{{itemPeriodo.monto }}"></td>
                        </tr>
                    </tbody>
                </table>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <button (click)="guardarProyecto()" class="btn btn-optima btn-float-right">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
