<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">
  <app-sidebar></app-sidebar>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="button-toggle">
            <a (click)="menuToggle()"><em class="fas fa-bars"></em></a>
          </div>
          <h3>Nuevo / Editar inmueble</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-8">
          <br />

          <form>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="nombres">Tipo</label>
                  <select class="form-control" id="exampleFormControlSelect1"></select>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="apellidos">Dpto. / Nro Estacionamiento</label>
                  <input type="text" class="form-control" id="apellidos" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="nombres">Área techada</label>
                  <input type="text" class="form-control" id="apellidos" />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="apellidos">Área libre</label>
                  <input type="text" class="form-control" id="apellidos" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="nombres">Área libre</label>
                  <input type="text" class="form-control" id="nombres" />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="apellidos">Área total</label>
                  <input type="text" class="form-control" id="apellidos" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="nombres">Vista</label>
                  <input type="text" class="form-control" id="nombres" />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="apellidos">Dormitorios</label>
                  <input type="text" class="form-control" id="apellidos" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="nombres">Estacionamiento</label>
                  <input type="text" class="form-control" id="nombres" />
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="apellidos">Dep.</label>
                  <input type="text" class="form-control" id="apellidos" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="nombres">Precio</label>
                  <input type="text" class="form-control" id="nombres" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="form-group">
                  <label for="apellidos">Otros</label>
                  <input type="text" class="form-control" id="apellidos" />
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-optima btn-float-right">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
