th, td{
    white-space:nowrap
}

.alert{
    font-size: 10px;
    padding: 3px;
}

.autocomplete-container .not-found {
    padding: 0 .75em;
    border: 1px solid #f1f1f1;
    background: #fff;
    z-index: 9999;
}

.tr_periodos input{
    width: 150px;
}

.margin_bottom{
    margin: 0px 0px 10px 0px;
}