<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3><a href="login"><em class="fas fa-chevron-circle-left icon-faw"></em></a></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <br>

                    <form>

                        <div class="row">

                            <div class="col-sm-12 col-md-3">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="nav-number">1</span> Cliente</a>
                                    <span class="separator"></span>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="nav-number">2</span> Modo de pago</a>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-9">
                                <div class="tab-content" id="v-pills-tabContent">


                                    
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-3">
                                                <div class="form-group">
                                                    <label for="nombres">Nro Doc</label>
                                                    <input type="text" class="form-control" id="nombres">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-5">
                                                <div class="form-group">
                                                    <label for="apellidos">Nombres y Apellidos</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group">
                                                    <label class="label-hidden">&nbsp;</label>
                                                    <button type="submit" class="btn btn-optima btn-float-right">Buscar</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row div-vendedores">
                                            <div class="col-sm-12 col-md-9">

                                                <div class="card">
                                                    <div class="card-body">
                                                        <p class="cliente-card-titulo"><b>Nombres</b></p>
                                                        <p class="cliente-nombre"><b>Flor Maria Pupo Bello</b></p>
                                                        <p class="cliente-numero"><b>07888888</b></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row div-vendedores div-inmueble-caracteristicas">

                                            <div class="col-sm-12 col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row div-vendedores">
                                                            <div class="col-sm-12 col-md-12">
                                                                <p class="titulo"><b>Inmueble</b></p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="nombres">Tipo dpto</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="apellidos">Nº dpto</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-2">
                                                                <div class="form-group">
                                                                    <label class="label-hidden">&nbsp;</label>
                                                                    <button type="submit" class="btn btn-optima btn-float-right">Agregar</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-sm-12 col-md-6 item-inmueble">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <label for="nombres"><b> Caracteristicas</b></label>
                                                                        <span class="float-right"><i class="fas fa-times-circle"></i></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12">

                                                                        <div class="card">
                                                                            <div class="card-body">

                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>A. techada</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>A. Libre</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>A. Total</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>Vista</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>Dorm</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>Precio</b></p>
                                                                                        <p>S/ 230,000</p>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-12">
                                                                                <label for="nombres"><b> Precio</b></label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            
                                                                            <div class="col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="nombres">Precio</label>
                                                                                    <input type="text" class="form-control" id="nombres">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="nombres">Dscto</label>
                                                                                    <input type="text" class="form-control" id="nombres">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="nombres">Ayuda inicial</label>
                                                                                    <input type="text" class="form-control" id="nombres">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-4 offset-md-8">
                                                                                <p class="titulo"><b>Total</b></p>
                                                                                <p>S/ 230,000</p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-12 col-md-6 item-inmueble">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <label for="nombres"><b> Caracteristicas</b></label>
                                                                        <span class="float-right"><i class="fas fa-times-circle"></i></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12">

                                                                        <div class="card">
                                                                            <div class="card-body">

                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>A. techada</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>A. Libre</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>A. Total</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>Vista</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>Dorm</b></p>
                                                                                        <p>123</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><b>Precio</b></p>
                                                                                        <p>S/ 230,000</p>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-12">
                                                                                <label for="nombres"><b> Precio</b></label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            
                                                                            <div class="col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="nombres">Precio</label>
                                                                                    <input type="text" class="form-control" id="nombres">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="nombres">Dscto</label>
                                                                                    <input type="text" class="form-control" id="nombres">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="nombres">Ayuda inicial</label>
                                                                                    <input type="text" class="form-control" id="nombres">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-4 offset-md-8">
                                                                                <p class="titulo"><b>Total</b></p>
                                                                                <p>S/ 230,000</p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-12">
                                                <div class="card">
                                                    <div class="card-body">

                                                        <div class="row div-vendedores">
                                                            <div class="col-sm-12 col-md-12">
                                                                <p class="titulo"><b>Adicionales</b></p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="nombres">Adicionales</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="apellidos">Buscar codigo</label>
                                                                    <input type="text" class="form-control" id="apellidos">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-2">
                                                                <div class="form-group">
                                                                    <label class="label-hidden">&nbsp;</label>
                                                                    <button type="submit" class="btn btn-optima btn-float-right">Agregar</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-10 item-inmueble">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-12">
                                                                    <label for="nombres"><b> Caracteristicas</b></label>
                                                                    <span class="float-right"><i class="fas fa-times-circle"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-12">

                                                                    <div class="card">
                                                                        <div class="card-body">

                                                                            <div class="row">
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><b>A. techada</b></p>
                                                                                    <p>123</p>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><b>A. Libre</b></p>
                                                                                    <p>123</p>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><b>A. Total</b></p>
                                                                                    <p>123</p>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><b>Vista</b></p>
                                                                                    <p>123</p>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><b>Dorm</b></p>
                                                                                    <p>123</p>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><b>Precio</b></p>
                                                                                    <p>S/ 230,000</p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12">
                                                                            <label for="nombres"><b> Precio</b></label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        
                                                                        <div class="col-sm-12 col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="nombres">Precio</label>
                                                                                <input type="text" class="form-control" id="nombres">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="nombres">Dscto</label>
                                                                                <input type="text" class="form-control" id="nombres">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="nombres">Ayuda inicial</label>
                                                                                <input type="text" class="form-control" id="nombres">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-3">
                                                                            <p class="titulo"><b>Total</b></p>
                                                                            <p>S/ 230,000</p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">

                                                <div class="card">
                                                    <div class="card-body">

                                                        <div class="col-sm-12 col-md-4 offset-md-8">
                                                            <p class="titulo"><b>Total</b></p>
                                                            <p>S/ 230,000</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right">Siguiente</button>
                                            </div>
                                        </div>

                                        <br>

                                    </div>



                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h4>Pago</h4>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="nombres">Cuota inicial</label>
                                                    <input type="text" class="form-control" id="nombres">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Cuota inicial</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Financiamiento</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h4>Tipo de credito</h4>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="nombres">Tipo de credito</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Bono MMV</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">AFP</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-8">
                                                <div class="form-group">
                                                    <label for="nombres">Banco</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Asesor banco</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h4>Caracteristicas de ahorro</h4>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="nombres">Ahorro</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Inicio ahorro</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Fin de ahorro</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right">Guardar</button>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        
        </div>
    </div>

</div>