<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3><a href="login"><em class="fas fa-chevron-circle-left icon-faw"></em></a></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <br>

                    <form>

                        <div class="row">

                            <div class="col-sm-12 col-md-3">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="nav-number">1</span> Cliente</a>
                                    <span class="separator"></span>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="nav-number">2</span> Modo de pago</a>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-9">
                                <div class="tab-content" id="v-pills-tabContent">


                                    
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-3">
                                                <div class="form-group">
                                                    <label for="nombres">Nro Doc</label>
                                                    <input type="text" class="form-control" id="nombres">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-5">
                                                <div class="form-group">
                                                    <label for="apellidos">Nombres y Apellidos</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group">
                                                    <label for="apellidos">&nbsp;</label>
                                                    <button type="submit" class="btn btn-optima btn-float-right">Buscar</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row div-vendedores">
                                            <div class="col-sm-12 col-md-9">

                                                <div class="card">
                                                    <div class="card-body">
                                                        <p class="cliente-card-titulo"><b>Nombres</b></p>
                                                        <p class="cliente-nombre"><b>Flor Maria Pupo Bello</b></p>
                                                        <p class="cliente-numero"><b>07888888</b></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <br>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right">Siguiente</button>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="nombres">Nombres</label>
                                                    <input type="text" class="form-control" id="nombres">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="apellidos">Apellidos</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="nombres">Tipo de documento</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="apellidos">Nro. doc.</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="nombres">Estado civil</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="apellidos">Ocupación</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right">Siguiente</button>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        
        </div>
    </div>

</div>