<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3><a href="login"><em class="fas fa-chevron-circle-left icon-faw"></em></a></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <br>

                    <form>

                        <div class="row">

                            <div class="col-sm-12 col-md-3">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="nav-number">1</span> Cliente</a>
                                    <span class="separator"></span>
                                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="nav-number">2</span> Modo de pago</a>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-9">
                                <div class="tab-content" id="v-pills-tabContent">


                                    
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-3">
                                                <div class="form-group">
                                                    <label for="busqueda-nrodoc">Nro Doc</label>
                                                    <input type="text" class="form-control" [(ngModel)]="nrodoc" (keydown.enter)="obtenerClienteSeleccionado(nrodoc)" name="busqueda-nrodoc">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-5">
                                                <div class="form-group">
                                                    <label for="busqueda-nombres">Nombres y Apellidos</label>
                                                    <input type="text" class="form-control" [(ngModel)]="clienteSeleccionado.nombres + ' ' + clienteSeleccionado.apellidos" name="busqueda-nombres" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <div class="form-group">
                                                    <label class="label-hidden">&nbsp;</label>
                                                    <button type="submit" class="btn btn-optima btn-float-right" (click)="obtenerClienteSeleccionado(nrodoc)">Buscar</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row div-vendedores">
                                            <div class="col-sm-12 col-md-9">

                                                <div class="card">
                                                    <div class="card-body">
                                                        <p class="cliente-card-titulo"><strong>Nombres</strong></p>
                                                        <p class="cliente-nombre"><strong>{{ clienteSeleccionado.nombres + ' ' + clienteSeleccionado.apellidos }}</strong></p>
                                                        <p class="cliente-numero"><strong>{{ clienteSeleccionado.nroDocumento }}</strong></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row div-vendedores div-inmueble-caracteristicas">

                                            <div class="col-sm-12 col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row div-vendedores">
                                                            <div class="col-sm-12 col-md-12">
                                                                <p class="titulo"><strong>Inmueble</strong></p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="sle-tipo-departamento">Tipo dpto</label>
                                                                    <select class="form-control" name="sle-tipo-departamento" [(ngModel)]="tipoinmueblecategoriaSeleccionado" (change)="obtenerInmueblesPorCategoria(tipoinmueblecategoriaSeleccionado)">
                                                                        <option [value]="itemtipoinmueblecategoria.idTipoInmuebleCategoria" *ngFor="let itemtipoinmueblecategoria of tipoinmueblecategoria">{{itemtipoinmueblecategoria.nombre}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="sle-departamento">Nº dpto</label>
                                                                    <select class="form-control" name="sle-departamento" [(ngModel)]="idInmuebleSeleccionado">
                                                                        <option [value]="itemDepartamentos.idInmueble" *ngFor="let itemDepartamentos of departamentos">{{itemDepartamentos.numero}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-2">
                                                                <div class="form-group">
                                                                    <label class="label-hidden">&nbsp;</label>
                                                                    <button type="submit" class="btn btn-optima btn-float-right" (click)="agregarDepartamento()">Agregar</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-sm-12 col-md-6 item-inmueble" *ngFor="let itemDepartamento of departamentosAgregados; index as i">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <label for="nombres"><strong> Caracteristicas</strong></label>
                                                                        <a (click)="quitarDepartamento(i)"><span class="float-right"><em class="fas fa-times-circle"></em></span></a>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12" >
                                                                        <p>{{itemDepartamento.numero}}</p>
                                                                    </div>   
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12" >

                                                                        <div class="card">
                                                                            <div class="card-body">

                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><strong>A. techada</strong></p>
                                                                                        <p>{{itemDepartamento.areaTechada}}</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><strong>A. Libre</strong></p>
                                                                                        <p>{{itemDepartamento.areaLibre}}</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><strong>A. Total</strong></p>
                                                                                        <p>{{itemDepartamento.areaTotal}}</p>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><strong>Vista</strong></p>
                                                                                        <p>{{itemDepartamento.idTipoVista}}</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><strong>Dorm</strong></p>
                                                                                        <p>{{itemDepartamento.cantidadDormitorio}}</p>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-4">
                                                                                        <p class="titulo"><strong>Precio</strong></p>
                                                                                        <p>{{itemDepartamento.precio}}</p>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-12">
                                                                                <label for="nombres"><strong> Precio</strong></label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">

                                                                            <div class="col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="descuento{{i}}">Dscto</label>
                                                                                    <input type="text" class="form-control" name="descuento{{i}}" value="{{itemDepartamento.descuento}}" [(ngModel)]="itemDepartamento.descuento">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12 col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="ayudainicial{{i}}">Ayuda inicial</label>
                                                                                    <input type="text" class="form-control" name="ayudainicial{{i}}" value="{{itemDepartamento.ayudainicial}}" [(ngModel)]="itemDepartamento.ayudainicial">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12 col-md-4">
                                                                                <p class="titulo"><strong>Total</strong></p>
                                                                                <p>{{itemDepartamento.total - itemDepartamento.descuento - itemDepartamento.ayudainicial}}</p>
                                                                            </div>

                                                                        </div>

                                                                    </div>


                                                                </div>
                                                            </div>


                                                        </div>

                                                        
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-12">
                                                <div class="card">
                                                    <div class="card-body">

                                                        <div class="row div-vendedores">
                                                            <div class="col-sm-12 col-md-12">
                                                                <p class="titulo"><strong>Adicionales</strong></p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <!-- <div class="col-sm-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="nombres">Adicionales</label>
                                                                    <select class="form-control" name="adicionales">
                                                                    </select>
                                                                </div>
                                                            </div> -->
                                                            <div class="col-sm-12 col-md-3">
                                                                <div class="form-group">
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <div class="form-group">
                                                                            <label for="sle-adicional">Buscar código</label>
                                                                            <select class="form-control" name="sle-adicional" [(ngModel)]="idAdicionalSeleccionado">
                                                                                <option [value]="adicionales.idInmueble" *ngFor="let itemAdicional of adicionales">{{itemAdicional.numero}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-2">
                                                                <div class="form-group">
                                                                    <label class="label-hidden">&nbsp;</label>
                                                                    <button type="submit" class="btn btn-optima btn-float-right" (click)="agregarAdicional()">Agregar</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-6 item-inmueble" *ngFor="let itemAdicional of adicionalAgregados; index as i">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-12">
                                                                    <label for="nombres"><strong> Caracteristicas</strong></label>
                                                                    <span class="float-right"><em class="fas fa-times-circle"></em></span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-12">

                                                                    <div class="card">
                                                                        <div class="card-body">

                                                                            <div class="row">
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><strong>A. techada</strong></p>
                                                                                    <p>{{itemAdicional.areaTechada}}</p>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><strong>A. Libre</strong></p>
                                                                                    <p>{{itemAdicional.areaLibre}}</p>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><strong>A. Total</strong></p>
                                                                                    <p>{{itemAdicional.areaTotal}}</p>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><strong>Vista</strong></p>
                                                                                    <p>{{itemAdicional.idTipoVista}}</p>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><strong>Dorm</strong></p>
                                                                                    <p>{{itemAdicional.cantidadDormitorio}}</p>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4">
                                                                                    <p class="titulo"><strong>Precio</strong></p>
                                                                                    <p>{{itemAdicional.precio}}</p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12">
                                                                            <label for="nombres"><strong> Precio</strong></label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        
                                                                        <div class="col-sm-12 col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="nombres">Precio</label>
                                                                                <input type="text" class="form-control" name="precio">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="nombres">Dscto</label>
                                                                                <input type="text" class="form-control" name="dscto">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="nombres">Ayuda inicial</label>
                                                                                <input type="text" class="form-control" name="ayuda-inicial">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-3">
                                                                            <p class="titulo"><strong>Total</strong></p>
                                                                            <p>S/ 230,000</p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">

                                                <div class="card">
                                                    <div class="card-body">

                                                        <div class="col-sm-12 col-md-4 offset-md-8">
                                                            <p class="titulo"><strong>Total</strong></p>
                                                            <p>S/ 230,000</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right">Siguiente</button>
                                            </div>
                                        </div>

                                        <br>

                                    </div>



                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h4>Pago</h4>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="nombres">Cuota inicial</label>
                                                    <input type="text" class="form-control" id="nombres">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Cuota inicial</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Financiamiento</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h4>Tipo de credito</h4>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="nombres">Tipo de credito</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Bono MMV</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">AFP</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-8">
                                                <div class="form-group">
                                                    <label for="nombres">Banco</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Asesor banco</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <h4>Caracteristicas de ahorro</h4>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="nombres">Ahorro</label>
                                                    <input type="text" class="form-control" id="apellidos">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Inicio ahorro</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="apellidos">Fin de ahorro</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <button type="submit" class="btn btn-optima btn-float-right">Guardar</button>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        
        </div>
    </div>

</div>