<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="button-toggle"><a (click)="menuToggle()"><em class="fas fa-bars"></em></a></div>
                    <h3>Clientes</h3>
                </div>
                <div class="col-sm-12 col-md-7 text-right">
                    <a href="/cliente-nuevo-editar/0"><span class="font-add">Agregar <em class="fas fa-plus-circle"></em></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 overflow-auto">

                    <div class="card-body">
                        <div class="alert alert-info my-2" *ngIf="clientesLista?.length==0">No hay clientes registrados</div>
                        <div class="table-responsive" *ngIf="clientesLista?.length>0">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Editar</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Nro. Doc.</th>
                                        <th scope="col">Ocupacion</th>
                                        <th scope="col">Fecha de nacimiento</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Provincia</th>
                                        <th scope="col">Distrito</th>
                                        <th scope="col">Direccion</th>
                                        <th scope="col">Conyuge</th>
                                        <th scope="col">Nro. Doc. Conyugue</th>
                                        <th scope="col">Asesor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cliente of clientesLista">
                                        <td class="text-center font-color-1">
                                            <a href="#" data-toggle="dropdown"><em class="fas fa-ellipsis-v"></em></a>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <button class="dropdown-item" type="button" [routerLink]="['/cliente-nuevo-editar', cliente.codigo]"><em class="far fa-edit"></em> Editar</button>
                                                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modal-eliminar-cliente" (click)='obtenerClienteSeleccionado(cliente)'><em class="far fa-trash-alt"></em> Eliminar</button>
                                            </div>
                                        </td>
                                        <td>{{cliente.nombres}}</td>
                                        <td>{{cliente.apellidos}}</td>
                                        <td>{{cliente.nroDocumento}}</td>
                                        <td>{{cliente.ocupacion}}</td>
                                        <td>{{cliente.fechaNacimiento}}</td>
                                        <td>{{cliente.email}}</td>
                                        <td>{{cliente.telefono}}</td>
                                        <td>{{cliente.provincia}}</td>
                                        <td>{{cliente.distrito}}</td>
                                        <td>{{cliente.direccion}}</td>
                                        <td>{{cliente.conyuge}}</td>
                                        <td>{{cliente.nroDocConyuge}}</td>
                                        <td>{{cliente.asesor}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <paginator [paginador]="paginador" [base]="base"></paginator>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>


<div id="modal-eliminar-cliente" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Eliminar cliente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Seguro que deseas eliminar el registro?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-optima" (click)='eliminar(clienteSeleccionado)'>Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
    </div>
</div>