<div class="d-flex" id="wrapper" [ngClass]="status ? 'toggled' : ''">

    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="button-toggle"><a (click)="menuToggle()"><i class="fas fa-bars"></i></a></div>
                    <h3>Clientes</h3>
                </div>
                <div class="col-sm-12 col-md-7 text-right">
                    <!-- <button type="button" class="btn btn-outline-optima btn-margin"><i class="far fa-file-excel"></i> Plantilla</button>
                    <button type="button" class="btn btn-outline-optima btn-margin margin-right"><i class="far fa-file-excel"></i> Importar excel</button> -->
                    <a href="/cliente-nuevo-editar/0"><span class="font-add">Agregar <i class="fas fa-plus-circle"></i></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 overflow-auto">

                    <br>

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Editar</th>
                                <th nowrap>Nombres</th>
                                <th nowrap>Apellidos</th>
                                <th nowrap>Tip. doc.</th>
                                <th nowrap>Nro. doc.</th>
                                <th nowrap>Estado civil</th>
                                <th nowrap>Ocupación</th>
                                <th nowrap>Fecha de nacimiento</th>
                                <th nowrap>Edad</th>
                                <th nowrap>Correo</th>
                                <th nowrap>Telefono</th>
                                <th nowrap>Distrito</th>
                                <th nowrap>Provincia</th>
                                <th nowrap>Dirección</th>
                                <th nowrap>Conyugue</th>
                                <th nowrap>Tip. doc.</th>
                                <th nowrap>Nro. doc.</th>
                                <th nowrap>Estado civil</th>
                                <th nowrap>Ocupación</th>
                                <th nowrap>Ingresos</th>
                                <th nowrap>Motivo compra</th>
                                <th nowrap>Canal captación</th>
                                <th nowrap>Categoria</th>
                                <th nowrap>Asesor ventas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clienteLista">
                                <td class="text-center font-color-1">
                                    <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <button class="dropdown-item" type="button" [routerLink]="['/cliente-nuevo-editar', cliente.codigo]"><i class="far fa-edit"></i> Editar</button>
                                        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modal-eliminar-cliente"><i class="far fa-trash-alt"></i> Eliminar</button>
                                    </div>
                                </td>
                                <td nowrap>{{cliente.nombre}}</td>
                                <td nowrap>{{cliente.apepaterno}} {{cliente.apematerno}}</td>
                                <td nowrap>{{cliente.tipodoc}}</td>
                                <td nowrap>{{cliente.nrodoc}}</td>
                                <td nowrap>{{cliente.estadocivil}}</td>
                                <td nowrap>{{cliente.ocupacion}}</td>
                                <td nowrap>{{cliente.nacimiento}}</td>
                                <td nowrap>{{cliente.edad}}</td>
                                <td nowrap>{{cliente.correo}}</td>
                                <td nowrap>{{cliente.telefono}}</td>
                                <td nowrap>{{cliente.distrito}}</td>
                                <td nowrap>{{cliente.provincia}}</td>
                                <td nowrap>{{cliente.direccion}}</td>
                                <td nowrap>{{cliente.nombreconyugue}}</td>
                                <td nowrap>{{cliente.c_tipodoc}}</td>
                                <td nowrap>{{cliente.c_nrodoc}}</td>
                                <td nowrap>{{cliente.c_estadocivil}}</td>
                                <td nowrap>{{cliente.c_ocupacion}}</td>
                                <td nowrap>{{cliente.ingresos}}</td>
                                <td nowrap>{{cliente.motivocompra}}</td>
                                <td nowrap>{{cliente.canalcaptacion}}</td>
                                <td nowrap>{{cliente.categoria}}</td>
                                <td nowrap>{{cliente.asesorventas}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <br>

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>

        </div>
    </div>

</div>


<div id="modal-eliminar-cliente" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Eliminar cliente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Seguro que deseas eliminar el registro?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-optima">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
    </div>
</div>